<footer class="footer">
	<div class="container">
		<div class="contact d-flex">
			<div class="text">
				<ul class="nav-l d-flex mb-9">
					<li><a href="index.html">首頁</a></li>
					<li class="ml-12"><a href="product.html">系列鏡框</a></li>
					<li class="ml-12"><a href="store.html">門市據點</a></li>
					<li class="ml-12"><a href="blog.html">部落格</a></li>
					<li class="ml-12"><a href="faq.html">常見問題</a></li>
				</ul>
				<ul class="contact-info mb-8">
					<li class="mb-2">
						<a href="tel:0800-000-000">
							<span class="icon material-symbols-outlined">call</span>
							0800-000-000
						</a>
					</li>
					<li>
						<a href="mailto:glasses@business.com">
							<span class="icon material-symbols-outlined">mail</span>
							glasses@business.com
						</a>
					</li>
				</ul>
			</div>          
			<ul class="social d-flex">
				<li>
					<a href="https://www.facebook.com/">
						<img src="../assets/images/ic-social-fb.png" alt="facebook link">
					</a>
				</li>
				<li class="ml-8">
					<a href="https://www.instagram.com/">
						<img src="../assets/images/ic_social_ig.png" alt="instagram link">
					</a>
				</li>
				<li class="ml-8">
					<a href="https://line.me/tw/">
						<img src="../assets/images/ic_social_line.png" alt="line link">
					</a>
				</li>
			</ul>
		</div>
		
		<div class="copyright d-flex">
			<p>Copyright © 2020 Glasses.All rights reserved.</p>
			<ul class="nav-l d-flex">
				<li><a href="#">隱私權政策</a></li>
				<li class="ml-12"><a href="#">服務條款</a></li>
			</ul>
		</div>
	</div>
</footer>