.btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.btn-primary{
    background-color: $primary-color;
    color: $light;
    padding: 6px 12px;
}
.btn-primary-l{
    background-color: $primary-color;
    color: $light;
    padding: 16px 176px;
}
.btn-dark-l{
    background-color: $dark;
    color: $light;
    padding: 16px 170px;
}