.nav-l a{
	display: inline-block;
	color: $light;
	&:hover{
		color: darken($secondary-color, 10%);
	}
}

.nav-d a{
	display: block;
	color: $dark;
	font-weight: 500;
	font-size: 32px;
	text-align: center;
	padding: 24px 0;
	border: 1px solid #DCDCDC;
	&:hover{
		padding-bottom: 16px;
		border-bottom: 8px solid $primary-color;
	}
	&:active{
		color: $primary-color;
	}
	&:focus{
		padding-bottom: 16px;
		border-bottom: 8px solid $primary-color;
	}
}


@media (max-width: 992px){
	.nav-d a{
		font-size: 24px;
		padding: 16px 0;
		&:active{
			padding-bottom: 8px;
		}
		&:focus{
			padding-bottom: 8px;
		}
	}
}
@media (max-width: 767px){
	.nav-d a{
		font-size: 16px;
	}
}


.nav-pri-d-bg{
	background-color: $primary-color-d;
	.nav-l a{
		padding: 13px 0;
	}
	.container.d-flex{
		justify-content: space-between;
	}
	.icon{
		span{
			display: inline-block;
			padding: 13px 0;
			color: $light;
			font-size: 30px;
			vertical-align: middle;
		}
		&:hover span{
			color: darken($secondary-color, 10%);
		}
	}
}

@media (max-width: 992px){
	.nav-pri-d-bg{
		padding: 0 24px;
	}
}

@media (max-width: 767px){
	.nav-pri-d-bg{
		padding: 0 2px;
		.d-flex{
			width: 100%;
			justify-content: center;
		}
		.icon{
			display: none;
		}
		.nav-l{
			a{
				font-size: 16px;
				padding: 12px 0;
			}
			.ml-12{
				margin-left: 25px;
			}
		}
	}
}