<div class="nav-pri-d-bg">
	<div class="container d-flex">
		<ul class="nav-l d-flex fz-5 fw-bold">
			<li><a href="#">最新消息</a></li>
			<li class="ml-12"><a href="#">特別企劃</a></li>
			<li class="ml-12"><a href="#">新品上市</a></li>
			<li class="ml-12"><a href="#">鏡框小知識</a></li>
		</ul>
		<div class="icon">
			<a href="#">
				<span class="material-symbols-outlined">
				search
				</span>
			</a>
		</div>
	</div>
</div>