<ul class="pagenav">
  <li><a class="page" href="#">上一頁</a></li>
  <li><a class="num" href="#">1</a></li>
  <li><a class="num" href="#">2</a></li>
  <li><a class="num" href="#">3</a></li>
  <li><a class="num" href="#">4</a></li>
  <li><a class="num" href="#">5</a></li>
  <li><a class="page" href="#">下一頁</a></li>
</ul>