.footer{
	background-color: $primary-color;
	padding: 48px 0 32px 0;
	.contact{
		display: flex;
		justify-content: space-between;
	}
	.footer-nav{
		display: flex;
		margin-bottom: 36px;
	}
	.social img{
		display: block;
		width: 48px;
		height: 48px;
		&:hover{
			margin-top: 4px;
			border-radius: 8px;
			box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
		}
	}
}
.contact-info{
	font-family: "Noto Sans TC", $font-family;
	margin-bottom: 32px;
	a{
		font-size: 36px;
		color: $light;
	}
	.icon{
		font-size: 36px;
		vertical-align: text-bottom;
	}
}
.contact-info li:hover a,
.contact-info li:hover .icon{
	color: darken($secondary-color, 10%);
}

.copyright{
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	border-top: 1px solid $light;
	color: $light;
	.nav-l{
		font-size: 14px;
		li{
			margin-left: 48px;
		}
	}
}

@media (max-width: 992px){
	.footer{
		padding: 48px 24px 40px 24px;
		.social{
			.ml-8{
				margin-left: 16px;
			}
		}
	}
}

@media (max-width: 767px){
	.footer{
		padding: 24px 2px;
		.footer-nav{
			display: none;
		}
		.social{
			.ml-8{
				margin-left: 8px;
			}
			img{
				width: 24px;
				height: 24px;
			}
		}
	}
	.contact-info{
		margin-bottom: 24px;
		a{
			font-size: 16px;
		}
		.icon{
			font-size: 18px;
		}
	}
	.copyright{
		display: block;
		padding-top: 16px;
		.d-flex{
			display: block;
		}
		.nav-l{
			font-size: 16px;
			li{
				margin-left: 0;
				margin-top: 8px;
			}
		}
	}
}