.header{
	background-color: $primary-color;
	.d-flex{
		justify-content: space-between;
		align-items: center;
	}
	.logo a{
		display: block;
		width: 80px;
		height: 48px;
		background: url(/assets/images/logo-white.png) no-repeat center/contain;
		text-indent: 101%;
		white-space: nowrap;
		overflow: hidden;
	}
	.nav-l{
		a{
			display: block;
			padding: 25px 0;
			margin-left: 64px;
		}
	}
}

@media (max-width: 992px){
	.header{
		padding: 0 24px;
	}
}

@media (max-width: 767px){
	.header{
		padding: 0;
		.container{
			padding: 0;
		}
		.d-flex{
			flex-wrap: wrap;
		}
		.logo{
			margin: 16px 14px;
		}
		.nav-l{
			width: 100%;
			a{
				margin-left: 0;
				padding: 12px 0;
				font-size: 16px;
			}
			li{
				width: 50%;
				text-align: center;
				border: 1px solid $light;
			}
			&.d-flex{
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}
}