.blog-image{
  img{
    display: block;
  }
}

.blog-text{
  display: flex;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
  }
  .more-btn{
    text-align: right;
    margin-top: auto;
    &:hover a{
      color: $primary-color;
    }
  }
}

.blogpage{
  padding-top: 24px;
  padding-bottom: 80px;
  .pagelink{
    display: flex;
    li:not(:last-child):after{
      content: ' / ';
      display: inline-block;
      padding: 0 4px;
    }
    a{
      color: $dark;
      &:hover{
        color: $primary-color;
      }
      &:focus{
        color: $primary-color;
      }
    }
  }
  .para{
    color: $dark-gray;
  }
}

.page-switch{
  .share{
    display: flex;
    padding-bottom: 16px;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px;
    a{
      display: block;
      color: $dark;
      font-weight: 700;
      &:hover{
        transform: scale(1.1);
      }
    }
    img{
      display: block;
      width: 24px;
    }
  }
  .switch{
    display: flex;
    justify-content: space-between;
    a{
      color: $dark;
    }
    .icon{
      font-size: 24px;
      vertical-align: text-bottom;
    }
  }
}
.switch li:hover a,
.switch li:hover .icon{
	color: $primary-color;
}

.tags{
  a{
    display: inline-block;
    margin-right: 24px;
    color: $primary-color;
    font-weight: 700;
    font-size: 24px;
    &:hover{
      color: $primary-color-d;
    }
  }
}
.tags-title{
  font-size: 32px;
  font-weight: 700;
  color: $primary-color;
  padding-top: 76px;
  margin-bottom: 4px;
  .icon{
    font-size: 48px;
    vertical-align: bottom;
  }
}