.slider{
  padding: 296px 0;
  background: url(/assets/images/home-header.png) no-repeat center/cover;
}
.service{
  background-color: $secondary-color;
  padding: 80px 0;
  .icon{
    color: $primary-color-d;
    font-size: 86px;
    font-weight: 600;
    margin-bottom: 24px;
  }
}
.classicProduct{
  padding: 80px 0;
  a:hover{
    opacity: 0.8;
  }
}
.designProduct{
  padding: 80px 0;
  background: url(/assets/images/index-bg.png) no-repeat center/cover;
  .image1{
    padding-bottom: 240px;
    background: url(/assets/images/home-section4-1.png) no-repeat center/cover;
  }
  .image2{
    padding-bottom: 240px;
    background: url(/assets/images/home-section4-2.png) no-repeat center/cover;
  }
  h3{
    padding: 8px 0;
    background-color: $light;
  }
  a:hover{
    opacity: 0.8;
  }
}