<!DOCTYPE html>
<html lang="zh-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Glasses | 系列鏡框</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
	</head>
  <body>

    <%- include('./layout/header.ejs'); %>

    <%- include('./components/navbar-blog.ejs'); %>

    <main class="blogpage">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <ul class="pagelink mb-2">
              <li><a href="index.html">首頁</a></li>
              <li><a href="blog.html">部落格</a></li>
              <li><a href="#">特別企劃</a></li>
              <li><a href="#">情人特別企劃</a></li>
            </ul>
            <ul class="tags d-flex mb-2">
              <li><a href="#">#special</a></li>
              <li><a href="#">#event</a></li>
            </ul>
            <h2 class="fz-12">情人特別企劃</h2>
            <p class="fz-6 fw-medium mb-4">2020 Valentine’s Special</p>
            <div class="para">
              <img class="mb-2" src="/assets/images/blogpage-1.png" alt="">
              <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              <img class="mb-2" src="/assets/images/blogpage-2.png" alt="">
              <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              <img class="mb-2" src="/assets/images/blogpage-3.png" alt="">
              <p class="mb-10">一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC 聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！</p>
              <img class="mb-2" src="/assets/images/blogpage-4.png" alt="">
              <p class="mb-10">2/14(五)-2/20(日)<br>至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br>期間優惠還有~~持他牌鏡框更換鏡片<br>薄型非球面鏡片折300元<br>濾藍光鏡片折500元<br>快快帶上另一半<br>讓彼此每一次睜開眼，都被愛的視線包圍!</p>
            </div>
            <div class="page-switch">
              <ul class="share">
                <li>
                  <a class="fw-bold fc-dark" href="#">
                    Share
                  </a>
                </li>
                <li class="ml-4">
                  <a href="https://www.facebook.com/">
                    <img src="../assets/images/logo-facebook.png" alt="facebook link">
                  </a>
                </li>
                <li class="ml-4">
                  <a href="https://www.instagram.com/">
                    <img src="../assets/images/logo-instagram.png" alt="instagram link">
                  </a>
                </li>
              </ul>
              <ul class="switch">
                <li>
                  <a href="#">
                    <span class="icon material-symbols-outlined">arrow_back</span>
                    上一篇：街頭潮人訪問 1
                  </a>
                </li>
                <li>
                  <a href="#">
                    下一篇：街頭潮人訪問 2
                    <span class="icon material-symbols-outlined">arrow_forward</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4">
            <p class="tags-title">
              <span class="icon material-symbols-outlined">label</span>
              TAGS
            </p>
            
            <div class="tags">
              <a href="#">#special</a><a href="#">#sale</a>
              <br>
              <a href="#">#new_item</a><a href="#">#interview</a>
              <br>
              <a href="#">#trivia</a><a href="#">#news</a>
              <br>
              <a href="#">#event</a>
            </div>
            
          </div>
        </div>
        
      </div>
      

    </main>
    

		<%- include('./layout/footer.ejs'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
