.container{
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.col-3{
  width: 25%;
  padding: 0 12px;
}
.col-4{
  width: 33.33333%;
  padding: 0 12px;
}
.col-5{
  width: 41.66666%;
  padding: 0 12px;
}
.col-6{
  width: 50%;
  padding: 0 12px;
}
.col-7{
  width: 58.33333%;
  padding: 0 12px;
}
.col-8{
	width: 66.66666%;
	padding: 0 12px;
}
.col-12{
	width: 100%;
	padding: 0 12px;
}

.d-flex{
  display: flex;
}
.d-block{
  display: block;
}

.op-07{
	opacity: 0.7;
}

.ta-center{
  text-align: center;
}
.ta-right{
  text-align: right;
}
.ta-left{
	text-align: left;
}

.ff-Noto{
	font-family: "Noto Sans TC", $font-family;
}

.fz-5{
	font-size: 20px;
}
.fz-6{
	font-size: 24px;
}
.fz-8{
	font-size: 32px;
}
.fz-9{
	font-size: 36px;
}
.fz-12{
	font-size: 48px;
}
.fz-16{
	font-size: 64px;
}

.fz-21{
	font-size: 42px;
}

.fw-medium{
	font-weight: 500;
}
.fw-bold{
	font-weight: 700;
}
.fw-black{
	font-weight: 900;
}
.fw-black-i{
	font-weight: 900;
	font-style: italic;
}

.fc-primary{
	color: $primary-color;
}
.fc-primary-d{
	color: $primary-color-d;
}
.fc-light{
	color: $light;
}
.fc-dg{
	color: $dark-gray;
}

.m-0{
	margin: 0;
}

.ml-a{
	margin-left: auto;
}
.ml-4{
	margin-left: 16px;
}
.ml-8{
	margin-left: 32px;
}
.ml-12{
	margin-left: 48px;
}
.ml-16{
	margin-left: 64px;
}

.mb-1{
	margin-bottom: 4px;
}
.mb-2{
	margin-bottom: 8px;
}
.mb-4{
	margin-bottom: 16px;
}
.mb-6{
	margin-bottom: 24px;
}
.mb-8{
	margin-bottom: 32px;
}
.mb-9{
	margin-bottom: 36px;
}
.mb-10{
	margin-bottom: 40px;
}
.mb-12{
	margin-bottom: 48px;
}
.mb-15{
	margin-bottom: 60px;
}
.mb-18{
	margin-bottom: 72px;
}

.p-0{
	padding: 0;
}

.py-20{
	padding: 80px 0;
}

.pt-24{
	padding-top: 96px;
}

.pb-8{
	margin-bottom: 32px;
}
.pb-16{
	padding-bottom: 64px;
}
.pb-20{
	padding-bottom: 80px;
}

